$nimvio-blue: #4169e1;
$nimvio-white: white;
$nimvio-light: #e5e7eb;
$nimvio-black: #374151;

:root {
  --nimvio-blue: #{$nimvio-blue};
  --nimvio-white: #{$nimvio-white};
  --nimvio-light: #{$nimvio-light};
  --nimvio-black: #{$nimvio-black};
}